<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}home{% endblock %} | nyc python</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% block extra_css %}{% endblock %}
    {% block extra_head_js %}{% endblock %}{# this should be very rarely used. if at all possible, javascript should go at the end of the page #}
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <style type="text/css">
      .sidebar-nav {
        padding: 9px 0;
      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
  </head>

  <body>

    <!-- <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Project name</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>-->

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="swell sidebar-nav">
            <div style="margin: 0 auto; 
                        margin-top: 50px; 
                        height: 200px; 
                        width: 200px; 
                        border-radius: 100px; 
                        background-color: #734A32;"></div>
            <h2 style="text-align: center; 
                       margin: 0 auto; 
                       margin-top: 4px; 
                       padding: 30px;
                       letter-spacing: 1.5px;">The NYC Python Meetup Group</h2>
            <nav>
              <ul class="nav nav-list">
                <li>Events</li>
                <li>Home</li>
                <li>About</li>
              </ul>
            </nav>
                     <!--<table role="presentation" class="lpad border1" style="margin: 0 auto;"><tbody><tr><td class="c1" valign="top"><table role="presentation" class="lpad cal"><tbody><tr><td>Su</td><td>Mo</td><td>Tu</td><td>We</td><td>Th</td><td>Fr</td><td>Sa</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td class="red">1</td><td>2</td></tr><tr><td class="red">3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td></tr><tr><td class="red">10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td><td>16</td></tr><tr><td class="red">17</td><td>18</td><td>19</td><td>20</td><td>21</td><td>22</td><td>23</td></tr><tr><td class="red">24</td><td>25</td><td>26</td><td>27</td><td>28</td><td>29</td><td>30</td></tr></tbody></table></td></tr></tbody></table>-->
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
         {% block content %}{% endblock %}
          <hr>
          <footer>
            <p>&copy; Company 2013</p>
          </footer>
        </div><!--/span-->
      </div><!--/row-->



    </div><!--/.fluid-container-->
    {% block extra_js %}{% endblock %}
  </body>
</html>
